[Unit]
Description=MobileCar
After=syslog.target
After=network.target

[Service]
Type=forking
WorkingDirectory=/usr/local/car/bin

User=pi
Group=pi

Environment=RACK_ENV=production

OOMScoreAdjust=-1000

ExecStart=/usr/local/car/bin/car.py
Restart=on-failure
TimeoutSec=300

[Install]
WantedBy=runlevel3.target
